#wrapper {
  min-height: 50vh !important;
  height: unset !important;
}

.bg-img {
  background-image: url("../../assets/maizefarm.jpg");
  background-size: cover;
}

.tag {
  max-width: 350px;
}

.navbar-toggler-icon {
  color: purple;
}
