.section {
  padding: 70px 30px 20px 0;
  text-align: center;
}

.title {
  color: #3c4858;
  margin: 1.75rem 0 0.5rem;
  text-decoration: none;
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
  display: inline;
  position: relative;
  min-height: 32px;
  min-height: 32px;
}
.subtitle {
  font-size: 1.2rem;

  margin: 10px auto 0;
}

.description {
  color: #999;
  max-width: 600px;
}
